{% extends 'base.html.twig' %}

{% block title %} Hangman - Game List{% endblock %}

{% block body %}
    <h2> Games </h2>
    
    {% for game in games %}
        <a href="{{ path('app_game_show', { 'token': game.token }) }}"> Game {{ game.token }} </a>
    {% endfor %}
{% endblock %}
